@use '../variables' as *;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

$cover-height: min($space-m * 27, 25vw);
$cover-width: min($space-m * 27 * 0.71, 25vw * 0.71);

.topContent {
  display: flex;

  background-color: $bg;
  padding: $space-xl 15vw;
}

.bannerImage {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: sticky;
}

.cover {
  min-height: $cover-height;
  min-width: $cover-width;
  max-height: $cover-height;
  max-width: $cover-width;
  img {
    min-height: $cover-height;
    min-width: $cover-width;
    max-height: $cover-height;
    max-width: $cover-width;
  }
}

.mangaText {
  margin-left: $space-m;

  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: $space-s;

  .title {
    display: flex;
    align-items: center;
    gap: $space-m;
    h2 {
      font-size: $space-xl;
      line-height: $space-xl;
      padding-top: $space-xs;
    }

    img {
      height: 50px;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $text-muted;
  }
}

.content {
  display: flex;
  margin: $space-xl 15vw;
}

.data {
  display: flex;
  flex-direction: column;
  gap: $space-m;
  text-align: start;
  background-color: $bg;
  padding: $space-l 2rem;
  height: fit-content;
  border-radius: 0.2rem;
  flex-shrink: 0;

  .category {
    h2 {
      font-size: 1.1rem;
    }

    p {
      color: $text-muted;
    }
  }
}

.showButton {
  color: $text-highlight;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
}

.activity {
  display: flex;
  margin: $space-xl;
  gap: 1rem;
}

.staff {
  text-align: start;
  padding: $space-xl;

  h2 {
    font-size: 1.3rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: $space-l;
    margin-top: $space-m;

    li {
      display: flex;
      flex-direction: column;
      background-color: $bg;
      height: fit-content;
      border-radius: 0.4rem;
      padding: $space-m;

      .staffName {
        font-size: 1.2rem;
        color: $text-highlight;
        font-weight: 600;
      }
    }
  }
}

.errorMessage {
  margin-top: $space-xxl;
}

.loading {
  background: linear-gradient(-45deg, $bg 40%, $bg-light 50%, $bg 60%);
  background-size: 300%;
  background-position-x: 130%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: -20%;
  }
}

@media screen and (max-width: 1024px) {
  .mangaDisplayContent {
    padding: $space-xl 5rem;
  }

  .content {
    margin: $space-xl 5rem;
  }
}
