@use '../../variables' as *;

.bar {
  display: flex;
  justify-content: center;

  .filters {
    display: flex;
    flex-direction: column;

    .filterFields {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      gap: 2.5rem;
      position: relative;

      .extendedFilters {
        display: flex;
        width: fit-content;
        height: fit-content;
        background-color: $bg;
        padding: 1rem;
        gap: 2rem;
        border-radius: 0.6rem;

        position: absolute;
        right: 0;
        top: 90px;
      }

      .filter {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0.5rem;

        h2 {
          font-size: 1.2rem;
          color: $text-muted;
        }

        .button {
          justify-content: center;
          align-items: center;
          background-color: $bg;
          padding: 0 0.8rem;
          border-radius: 0.4rem;
          height: 40px;
          margin-top: 2rem;
          cursor: pointer;
          display: none;

          img {
            height: 20px;
          }

          .highlight {
            display: none;
          }

          &:hover {
            img {
              display: none;
            }

            .highlight {
              display: unset;
            }
          }
        }
      }

      .searchField {
        display: flex;
        background-color: $bg;
        width: 200px;
        padding: 0.6rem;
        border-radius: 0.4rem;
        gap: 1rem;
        height: 40px;

        img {
          height: 18px;
          align-self: center;

          &.close {
            height: 12px;
            margin-right: 0.3rem;
            cursor: pointer;
          }
        }

        input {
          border: none;
          background: transparent;
          color: $text-muted;
          width: 100%;
          outline: none;
          font-weight: 500;

          &:focus::placeholder {
            color: transparent;
          }
        }
      }
    }

    .activeFilters {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      margin: 2rem 0;
      gap: 1.2rem;

      &:hover .closeAll {
        opacity: 1;
        pointer-events: all;
      }

      .activeFilter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: $primary;
        padding: 0.3rem 0.5rem;
        color: white;
        border-radius: 0.6rem;
        cursor: pointer;

        &:hover img {
          display: unset;
        }

        p {
          font-weight: 600;
        }

        img {
          display: none;
          height: 10px;
          margin-left: 0.5rem;
          margin-bottom: 0.1rem;
          filter: brightness(0) invert(1);
        }
      }

      .closeAll {
        opacity: 0;
        transition: opacity 0.2s ease;
        background-color: gray;
        pointer-events: none;

        img {
          display: unset;
        }
      }
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-12px);
  }
}

.slideDown {
  animation: slideDown 0.2s ease-in;
}

.slideUp {
  animation: slideUp 0.1s ease-out;
}

@media screen and (max-width: 1500px) {
  .bar {
    justify-content: start;
    .filters {
      width: 100%;
      .filterFields {
        justify-content: start;
        .shrink {
          display: none;
        }

        .filter {
          .button {
            display: flex;
          }
        }

        .config {
          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .bar {
    .filters {
      .filterFields {
        flex-direction: column;
        .search {
          display: flex;
          justify-content: start;
          align-items: center;

          .searchField {
            width: 100%;
            input {
              width: 100%;
            }
          }

          .button {
            margin: 0;
            margin-left: 3rem;
          }
          .config {
            margin-left: 0;
          }
        }

        .otherThenSearch {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
        }
      }
    }
  }
}
