<div class="status">
  <div class="completed">
    <p class="title">Completed</p>
    <div class="count">
      <p class="number">{{ completed() }}</p>
      <p class="users">Users</p>
    </div>
  </div>
  <div class="planning">
    <p class="title">Planned</p>
    <div class="count">
      <p class="number">{{ planning() }}</p>
      <p class="users">Users</p>
    </div>
  </div>
  <div class="reading">
    <p class="title">Reading</p>
    <div class="count">
      <p class="number">{{ reading() }}</p>
      <p class="users">Users</p>
    </div>
  </div>
  <div class="dropped">
    <p class="title">Dropped</p>
    <div class="count">
      <p class="number">{{ dropped() }}</p>
      <p class="users">Users</p>
    </div>
  </div>
  <div class="paused">
    <p class="title">Paused</p>
    <div class="count">
      <p class="number">{{ paused() }}</p>
      <p class="users">Users</p>
    </div>
  </div>
</div>
