@use '../../variables' as *;

.readingStatus {
  display: flex;
  flex-direction: column;
  align-items: start;

  h2 {
    font-size: 1.3rem;
    margin-bottom: $space-m;
  }
}

.status {
  display: flex;
  gap: 1.2rem;
  background-color: $bg;
  padding: 2rem;
  height: 120px;
  align-items: center;
  border-radius: 0.2rem;

  .title {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
  }

  .count {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin-top: 0.5rem;
  }

  .users {
    font-size: 1.1rem;
  }

  .number {
    font-weight: 600;
  }

  .completed {
    .title {
      background-color: $completed;
    }
    .number {
      color: $completed;
    }
  }

  .planning {
    .title {
      background-color: $planning;
    }
    .number {
      color: $planning;
    }
  }

  .reading {
    .title {
      background-color: $reading;
    }
    .number {
      color: $reading;
    }
  }

  .paused {
    .title {
      background-color: $paused;
    }
    .number {
      color: $paused;
    }
  }

  .dropped {
    .title {
      background-color: $dropped;
    }
    .number {
      color: $dropped;
    }
  }
}

@media screen and (max-width: 900px) {
  .status {
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 700px) {
  .status {
    flex-wrap: wrap;
    height: fit-content;
    gap: 0.2rem;
  }
}
