@use 'app/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
}

html {
  overflow-y: scroll;
}

body {
  font: $p;
  color: $text;
  background-color: $bg-dark;
  height: calc(100vh - $space-xxl);
}

h1 {
  font: $h1;
}

h2 {
  font: $h2;
}

a {
  text-decoration: none;
}

p {
  font: $p;
}

image {
  width: 100%;
  height: auto;
}
