@if (!status()) {
  <div class="dropdown">
    <div class="add" (click)="toggle()">
      <p>Add to library</p>
      <img src="downarrow.png" />
    </div>

    @if (isOpen()) {
      <ul>
        <li (click)="add('completed')">Add as Completed</li>
        <li (click)="add('planning')">Add as Planning</li>
        <li (click)="add('reading')">Add as Reading</li>
        <li (click)="add('dropped')">Add as Dropped</li>
        <li (click)="add('paused')">Add as Paused</li>
      </ul>
    }
  </div>
} @else {
  <div class="dropdown">
    <div class="add" [class]="status().toLowerCase()" (click)="toggle()">
      <p class="status">{{ status() }}</p>
      <img src="downarrow.png" />
    </div>

    @if (isOpen()) {
      <ul>
        <li [class.nodisplay]="userManga()?.status == 'completed'" (click)="change('completed')">
          Change to Completed
        </li>
        <li [class.nodisplay]="userManga()?.status == 'planning'" (click)="change('planning')">
          Change to Planning
        </li>
        <li [class.nodisplay]="userManga()?.status == 'reading'" (click)="change('reading')">
          Change to Reading
        </li>
        <li [class.nodisplay]="userManga()?.status == 'dropped'" (click)="change('dropped')">
          Change to Dropped
        </li>
        <li [class.nodisplay]="userManga()?.status == 'paused'" (click)="change('paused')">
          Change to Paused
        </li>
        <li class="Remove" (click)="remove()">Remove from library</li>
      </ul>
    }
  </div>
}
