.header {
  position: fixed;
  height: var(--space-xxl);
  width: 100%;
  background-color: var(--bg);
  z-index: 10;
  top: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 var(--space-m);
  height: 100%;
  list-style: none;
}

.header-content li {
  width: 30vw;
}

.header-left a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-left a img {
  height: var(--space-xl);
}

.header-left a h2 {
  color: var(--text);
  padding-left: var(--space-xs);
}

.header-middle {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--space-xxl);
}

.header-middle a {
  color: var(--text);
  font-size: var(--space-l);
  font-weight: 600;
  cursor: pointer;
  transition: 200ms ease;
  text-wrap: none;
}

.header-middle a:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
}

.header-right button {
  font-size: 1.1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: var(--space-m);
  padding: 0.5em 1em;
}

.login button {
  color: var(--text);
}

.login button:hover {
  color: var(--text-highlight);
  background-color: var(--bg-light);
  box-shadow: 0 2px 10px var(--bg-light);
  transition: 150ms ease;
}

.signup button {
  color: var(--text-highlight);
  background-color: var(--primary);
  font-weight: 600;
}

.signup button:hover {
  scale: 1.04;
  box-shadow: 0 2px 10px var(--primary);
  transition: 150ms ease;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: var(--space-xxl);
}

.content h1 {
  color: var(--text-highlight);
  font-size: clamp(1.5rem, calc(4vw + 1rem), 5rem);
  line-height: 3rem;
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xl);
}

.menuButton {
  display: none;
}

.closeButton {
  display: none;
}

.overlay {
  display: none;
}

.mangaDisplayContent {
  display: grid;
  grid-template-columns: min-content min(1200px, 80vw);
  grid-template-rows: 650px auto;

  background-color: var(--bg);
  padding: var(--space-xl);
  border-radius: var(--space-m);
  margin-top: var(--space-xl);
}

.mangaBanner {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.loading {
  background: linear-gradient(
    -45deg,
    var(--bg) 40%,
    #dddddd 50%,
    var(--bg) 60%
  );
  background-size: 300%;
  background-position-x: 120%;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: -20%;
  }
}

.coverImage {
  grid-column: 1;
  grid-row: 1;
  height: 650px;
  min-width: 450px;
  width: auto;
  border-radius: var(--space-s);
}

.mangaText {
  grid-column: 2;
  grid-row: 1;
  margin-left: var(--space-m);
  margin-top: var(--space-m);

  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: var(--space-l);
}

.mangaTitleEnglish {
  font-size: 3rem;
  line-height: 3rem;
}

.mangaTitleNative {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-muted);
}

.mangaDescription {
  margin-top: auto;
  margin-bottom: var(--space-s);
  text-align: start;
  font-size: 1.5rem;
  line-height: 2rem;
}

.mangaGenres {
  list-style: none;
  display: flex;
  gap: var(--space-m);
  flex-wrap: wrap;
}

.mangaGenres li {
  background-color: var(--primary);
  border-radius: var(--space-m);
  padding: var(--space-xs) var(--space-m);
  color: var(--text-highlight);
  font-size: 1.2rem;
  font-weight: 600;
}

.genreTag:nth-child(5n + 1) {
  background-color: #59ad35;
}
.genreTag:nth-child(5n + 2) {
  background-color: #02a9ff;
}
.genreTag:nth-child(5n + 3) {
  background-color: #9256f3;
}
.genreTag:nth-child(5n + 4) {
  background-color: #f779a4;
}
.genreTag:nth-child(5n + 5) {
  background-color: #e85d75;
}

.staff {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: var(--space-l);
  margin-top: var(--space-m);
}

.staff li {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: var(--space-xs);
  height: fit-content;
  padding: var(--space-s);
}

.staffName {
  font-size: 1.3rem;
  color: var(--text-highlight);
  font-weight: 600;
}

.searchContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-l);
  width: min(1200px, 80vw);
}

.searchNavbar {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-xl);
  gap: var(--space-l);
  width: min-content;
}

.filterForms {
  display: flex;
  gap: 1.75rem;
}

.filterForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-xs);
}

.searchFilters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  list-style: none;
}

.searchFilters li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  width: 120px;
  color: var(--text-highlight);
  background-color: var(--primary);
  padding: 0.25rem 1rem;
  font-weight: 700;
  border-radius: 1rem;
}

.searchFilters .searchTag {
  width: unset;
  gap: var(--space-s);
}

.searchFilters .closeImage {
  width: 10px;
  cursor: pointer;
}

.searchFilters .tagImage {
  width: 14px;
}

.searchResult {
  margin-top: var(--space-xl);
  list-style: none;
  width: 100%;
}

.mangaResult {
  display: flex;
  background-color: var(--bg);
  border-radius: var(--space-m);
  padding: 3rem;
  margin-bottom: 2rem;
  height: 500px;
  width: 100%;
}

.mangaResult .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
  gap: 1rem;
}

.mangaResult .text h2 {
  line-height: 2rem;
  cursor: pointer;
}

.mangaResult .text p {
  text-align: start;
  overflow: hidden;
  overflow-y: scroll;
}

.mangaResult img {
  min-width: 300px;
  border-radius: var(--space-m);
  cursor: pointer;
}

.searchbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 300px;
  background-color: var(--bg);
  border-radius: var(--space-s);
}

.searchbar input {
  color: var(--text-muted);
  font: var(--ff);
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 1em;
  width: 100%;
}

.searchbar img {
  height: 24px;
  cursor: pointer;
}

.searchbar .close {
  height: 12px;
}

.dropdownButton {
  display: flex;
  justify-content: space-between;
  gap: 0rem;
  align-items: center;

  width: 200px;
  height: var(--space-xl);
  padding: 0.1rem 1rem;
  background-color: var(--bg);
  border-radius: var(--space-s);

  text-align: start;
  color: var(--text-muted);
  font-weight: 600;
}

.dropdownButton img {
  width: 12px;
  cursor: pointer;
}

.dropdownButton input {
  width: 100%;
  color: var(--text);
  font: var(--ff);
  background: transparent;
  border: none;
  outline: none;
}

.dropdownButton .placeholder {
  position: absolute;

  display: flex;
  gap: var(--space-s);
  cursor: pointer;
}

.dropdownButton:focus-within .placeholder {
  display: none;
}

.placeholder:empty::before {
  content: "Any";
}

.selectedGenre {
  background-color: var(--bg-light);
  padding: 0 var(--space-xs);
  border-radius: var(--space-xs);
  font-size: var(--space-s);
  width: fit-content;
}

.dropdownContent {
  position: absolute;
  width: 200px;
  max-height: 300px;

  background-color: var(--bg);
  border-radius: var(--space-s);
  margin-top: var(--space-xs);
  padding-top: var(--space-xs);

  overflow: hidden;
  overflow-y: scroll;
}

.dropdownContent h3 {
  padding: var(--space-xs) var(--space-m);

  text-align: start;
  color: var(--text-muted);
  font-weight: 700;
  font-size: 1rem;
}

.dropdownItem {
  height: 35px;
  width: calc(200px - 3rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-xs) var(--space-l);
  padding: var(--space-xxs) var(--space-xs);
  border-radius: 0.5rem;

  color: var(--text-muted);
  font-weight: 400;

  cursor: pointer;
  transition: 200ms ease;
}

.dropdownItem:hover {
  background-color: var(--bg-light);
}

.dropdownItem img {
  width: 20px;
  height: 20px;
}

.nodisplay {
  display: none;
}

@media screen and (max-width: 1750px) {
  .mangaDisplayContent {
    grid-template-columns: min-content 45vw;
  }
  .header-middle {
    gap: var(--space-xl);
  }
  .mangaDescription {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .mangaBanner {
    height: 200px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .header {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    height: 100dvh;
    width: min(15rem, 100%);
    border-right: 1px solid var(--bg-light);
    transition: left 300ms ease-in-out;
  }

  .header.show {
    left: 0;
  }

  .header.show ~ .overlay {
    display: block;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    transition: background-color 300ms ease-in-out;
  }

  .header-content {
    margin-top: 1rem;
    margin-left: 1.5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .header-content li {
    width: 100%;
  }

  .header-left {
    display: flex;
  }

  .header-left h2 {
    display: none;
  }

  .header-middle {
    flex-direction: column;
    align-items: start;
  }

  .header-right {
    margin-top: auto;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .menuButton {
    display: block;
    position: absolute;
    top: var(--space-s);
    left: var(--space-s);
    height: var(--space-xl);
    cursor: pointer;
  }

  .closeButton {
    display: block;
    margin-left: auto;
    height: var(--space-xl);
    cursor: pointer;
  }

  .content {
    margin-top: unset;
  }

  .mangaDisplayContent {
    background-color: unset;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: var(--space-m);
    margin-top: var(--space-xxl);
    text-align: start;
  }

  .mangaText {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }

  .coverImage {
    grid-row: 2;
    min-width: 80vw;
    height: auto;
    margin: var(--space-xl) 0;
    justify-self: center;
  }

  .mangaBanner {
    display: none;
  }

  .mangaGenres {
    margin-bottom: var(--space-l);
  }

  .mangaGenres li {
    font-size: 1rem;
  }

  .staff li {
    font-size: var(--space-s);
  }

  .staffName {
    font-size: var(--space-m);
  }

  .searchContent {
    width: 100%;
    padding: 3rem 1rem;
  }

  .filterForms {
    flex-direction: column;
    gap: 2rem;
  }

  .dropdownButton input {
    width: 80%;
  }

  .dropdownButton img {
    width: 5rem;
    padding-left: 4rem;
  }

  .placeholder {
    padding-right: 3rem;
  }

  .searchResult {
    margin-top: var(--space-m);
  }

  .mangaResult {
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 0;
    height: unset;
  }

  .mangaResult .text p {
    display: none;
  }

  .mangaResult img {
    min-width: unset;
  }
}
