.header {
  position: sticky;
  height: var(--space-xxl);
  background-color: var(--bg);
  top: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: var(--space-m);
  margin-right: var(--space-m);
  height: 100%;
  list-style: none;
}

.header-content li {
  width: 30vw;
}

.header-left a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-left a img {
  height: var(--space-xl);
}

.header-left a h2 {
  color: var(--text);
  padding-left: var(--space-xs);
}

.header-middle {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--space-xxl);
}

.nav-link {
  color: var(--text);
  font-size: var(--space-l);
  font-weight: 600;
  cursor: pointer;
  transition: 200ms ease;
  text-wrap: none;
}

.nav-link:hover {
 color: #ffffff;
 transform: scale(1.05);
}

/* .searchbar {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 300px;
  background-color: var(--bg-light);
  height: var(--spacing6);
  border-radius: 20px;
  pointer-events: all;
}
.searchbar input {
  width: 100%;
  color: var(--text);
  font: var(--ff);
  background: transparent;
  border: none;
  outline: none;
  padding-left: 1em;
}
.searchbar img {
  height: 24px;
  cursor: pointer;
} */

.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
}

.header-right button {
  font-size: 1.1em;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.login button {
  color: var(--text);
  padding: 0.5em 1em;
  border-radius: 16px;
  transition: 150ms ease;
}

.login button:hover {
 color: #ffffff;
 background-color: var(--bg-light);
 box-shadow: 0 2px 10px var(--bg-light);
}

.signup button {
  color: #ffffff;
  font: var(--p);
  font-weight: 600;
  background-color: var(--primary);
  border-radius: 16px;
  padding: 0.5em 1em;
}

.signup button:hover {
  scale: 1.04;
  transition: 0.1s;
  box-shadow: 0 2px 10px rgba(8,150,230,.6);
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  height: 100dvh;
  padding: 8rem 10%;
}

.content h1 {
  color: #ffffff;
  font-size: clamp(1.5rem, calc(4vw + 1rem), 5rem);
}

.menuButton {
  display: none;
}

.closeButton {
  display: none;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
  transition: background-color 300ms ease-in-out;
}

.mangaDisplayContent {
  display: grid;
  grid-template-columns: min-content min(1200px, 80vw);
  grid-template-rows: 650px auto;
}

.coverImage {
  grid-column: 1;
  grid-row: 1;
  height: 650px;
  width: auto;
}

.mangaText {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
  margin-left: var(--space-m);
  margin-top: var(--space-m);

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-l);
}

.mangaTitleEnglish {
  font-size: 3rem;
  line-height: 3rem;
}

.mangaTitleNative {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-muted);
}

.mangaDescription {
  margin-top: auto;
  margin-bottom: var(--space-xl);
  text-align: start;
  font-size: 1.5rem;
  line-height: 2rem;
}

.mangaGenres {
  grid-column: 1;
  grid-row: 2;
  list-style: none;
  display: flex;
  gap: var(--space-m);
  flex-wrap: wrap;
}

.mangaGenres li {
  background-color: var(--primary);
  border-radius: var(--space-m);
  padding: var(--space-xs) var(--space-m);
  color: var(--text-highligth);
  font-size: 1.2rem;
  font-weight: 600;
}

.genreTag:nth-child(5n+1) {
  background-color: #59ad35;
}
.genreTag:nth-child(5n+2) {
  background-color: #02a9ff;
}
.genreTag:nth-child(5n+3) {
  background-color: #9256f3;
}
.genreTag:nth-child(5n+4) {
  background-color: #f779a4;
}
.genreTag:nth-child(5n+5) {
  background-color: #e85d75;
}

.staff {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: var(--space-l);
  margin: var(--space-l);
}

.staff li {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: var(--space-xs);
  height: fit-content;
  padding: var(--space-s);
}

.staffName {
  font-size: 1.3rem;
  color: var(--text-highligth);
  font-weight: 600;
}

@media screen and (max-width: 1750px){
  .mangaDisplayContent {
    grid-template-columns: min-content 550px;
  }
  .header-middle {
    gap: var(--space-xl);
  }
  .mangaDescription {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .header {
    height: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    height: 100dvh;
    width: min(15em, 100%);
    z-index: 10;
    border-right: 1px solid var(--bg-light);
    transition: left 300ms ease-in-out;
  }

  .header.show {
    left: 0
  }

  .header.show ~ .overlay {
    display: block;
  }

  .header-content {
    margin-top: 1em;
    flex-direction: column;
    justify-content: start;
    gap: 3em;
    margin-left: 1.5em;
  }

  .header-content li {
    width: 100%;
  }

  .header-left {
    display: flex;
  }

  .header-left h2 {
    display: none;
  }

  .header-middle {
    flex-direction: column;
    align-items: start;
    gap: 2em;
  }

  .header-right {
    margin-top: auto;
    margin-bottom: 2em;
    justify-content: center;
  }

  .menuButton {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    height: 50px;
    cursor: pointer;
  }

  .closeButton {
    display: block;
    margin-left: auto;
    height: var(--space-xl);
    padding-right: 0;
    cursor: pointer;
  }

  .content {
    margin-top: 15%;
  }

}