/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Vars */
:root {
  --bg: #151F2E;
  --bg-dark: #0b1622;
  --bg-light: #253041;
  --text: #d4d9e6;
  --text-muted: #b2b7c4;
  --text-highlight: #ffffff;
  --primary: #3577FF;

  --ff: "Overpass", serif;
  --p: 1rem/1.5rem var(--ff);
  --h1: 600 3rem/2rem var(--ff);
  --h2: 600 2rem/1.5rem var(--ff);

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.25rem;
  --space-xl: 2.5rem;
  --space-xxl: 5rem;
}

body {
  font: var(--p);
  color: var(--text);
  background-color: var(--bg-dark);
  overflow: visible;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

a {
  text-decoration: none;
}

image {
  width: 100%;
  height: auto;
}
