@use '../variables' as *;

.content {
  margin-top: $space-xxl;
  background-color: $bg;
  padding: $space-xl;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  width: min(500px, 90vw);

  form {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: $space-xl 0;
    margin-top: 0;

    label {
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 2rem;
    }

    input {
      border: none;
      border-bottom: 1px solid $text;
      background: none;
      height: 30px;
      color: $text;
      font: $p;
      font-size: 1.2rem;
      outline: none;

      &.error {
        border-bottom: 1px solid $fail;
      }
    }

    button {
      background-color: $primary;
      color: white;
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 0.4rem;
      border: none;
      padding: 0.3rem;
      width: 100px;
      align-self: center;
      cursor: pointer;
      margin-top: 1rem;

      transition: scale 0.1s;
      &:hover {
        scale: 1.05;
      }
    }
  }
}

.error {
  color: $fail;
  font-size: 1.2rem;
}

.login {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  p {
    font-size: 1.1rem;
  }

  .link {
    color: $light-primary;
    cursor: pointer;
  }
}
