@use '../variables' as *;

$width: 180px;

:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1300px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, $width);
  row-gap: 2rem;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 5rem;
  width: 100%;

  li {
    width: $width;
    cursor: pointer;
    position: relative;
    img {
      width: $width;
      height: $width * 1.41;
      border-radius: 0.2rem;
    }

    h2 {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $text-muted;
    }

    &:hover .info {
      opacity: 1;
      scale: 1;
    }

    .info {
      opacity: 0;
      scale: 0.8;
      transition: opacity 0.2s ease;
      transition: scale 0.3s ease;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 110%;
      z-index: 20;

      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;
      width: 300px;

      background-color: $bg;
      border-radius: 0.4rem;
      padding: 1rem;

      h2 {
        font-weight: 600;
      }

      p {
        color: $text-muted;
      }

      .genres {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        p {
          color: #ffffff;
          background-color: $primary;
          padding: 0.1rem 0.6rem;
          border-radius: 1rem;
          white-space: nowrap;
        }
      }
    }

    .loading {
      background: linear-gradient(-45deg, $bg 40%, $bg-light 50%, $bg 60%);
      background-size: 600%;
      background-position-x: 130%;
      animation: shimmer 1.5s infinite linear;

      width: $width;
      height: $width * 1.41;
      border-radius: 0.2rem;
    }
  }
}

.errorMessage {
  h2 {
    line-height: 2rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.noresult {
  margin-top: 2rem;
  color: $text-muted;
}

.loadMore {
  width: 100%;
  min-height: 1px;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

@media screen and (max-width: 1500px) {
  .searchContent {
    width: 1050px;
  }
  .grid {
    grid-template-columns: repeat(5, $width);
  }
}

@media screen and (max-width: 1090px) {
  .searchContent {
    width: 100%;
    padding: 0 2rem;
  }

  .grid {
    margin: 0;
    grid-template-columns: repeat(4, $width);
  }
}

@media screen and (max-width: 950px) {
  .grid {
    margin: 0;
    justify-content: space-around;
    grid-template-columns: repeat(3, $width);
  }
}

@media screen and (max-width: 680px) {
  .grid {
    grid-template-columns: repeat(2, $width);
  }
}

@media screen and (max-width: 460px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      width: 70%;
      aspect-ratio: 1/ 1.41;
      img {
        width: 100%;
        height: auto;
      }

      &:hover .info {
        display: none;
      }

      .loading {
        width: 100%;
        height: 0;
        padding-bottom: 141%;
      }
    }
  }
}
