@use '../variables' as *;

:host {
  display: flex;
  justify-content: center;
}

.searchContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: min(1400px, 80vw);
}

.bar {
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filterFields {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;

  .filter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    h2 {
      font-size: 1.2rem;
      color: $text-muted;
    }
  }

  .searchField {
    display: flex;
    background-color: $bg;
    width: 200px;
    padding: 0.6rem;
    border-radius: 0.4rem;
    gap: 1rem;
    height: 40px;

    img {
      height: 18px;
      align-self: center;

      &.close {
        height: 12px;
        margin-right: 0.3rem;
        cursor: pointer;
      }
    }

    input {
      border: none;
      background: transparent;
      color: $text-muted;
      width: 100%;
      outline: none;
      font-weight: 500;

      &:focus::placeholder {
        color: transparent;
      }
    }
  }
}

.activeFilters {
  display: flex;
  justify-content: start;
  margin: 2rem 0;
  gap: 1.2rem;

  &:hover .closeAll {
    opacity: 1;
    pointer-events: all;
  }

  .activeFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $primary;
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 0.6rem;
    cursor: pointer;

    &:hover img {
      display: unset;
    }

    p {
      font-weight: 600;
    }

    img {
      display: none;
      height: 10px;
      margin-left: 0.5rem;
      margin-bottom: 0.1rem;
      filter: brightness(0) invert(1);
    }
  }

  .closeAll {
    opacity: 0;
    transition: opacity 0.2s ease;
    background-color: gray;
    pointer-events: none;

    img {
      display: unset;
    }
  }
}

.grid {
  $width: 180px;
  display: grid;
  grid-template-columns: repeat(6, $width);
  row-gap: 2rem;
  justify-content: space-between;
  list-style: none;

  li {
    width: $width;
    cursor: pointer;
    position: relative;
    img {
      width: $width;
      height: $width * 1.41;
      border-radius: 0.2rem;
    }

    h2 {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $text-muted;
    }

    &:hover .info {
      opacity: 1;
      scale: 1;
    }

    .info {
      opacity: 0;
      scale: 0.8;
      transition: opacity 0.2s ease;
      transition: scale 0.3s ease;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 110%;
      z-index: 20;

      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;
      width: 300px;

      background-color: $bg;
      border-radius: 0.4rem;
      padding: 1rem;

      h2 {
        font-weight: 600;
      }

      p {
        color: $text-muted;
      }

      .genres {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        p {
          color: #ffffff;
          background-color: $primary;
          padding: 0.1rem 0.6rem;
          border-radius: 1rem;
          white-space: nowrap;
        }
      }
    }

    .filler {
      height: 0;
      visibility: hidden;
    }

    .loading {
      background: linear-gradient(-45deg, $bg 40%, $bg-light 50%, $bg 60%);
      background-size: 600%;
      background-position-x: 130%;
      animation: shimmer 1.5s infinite linear;

      width: $width;
      height: $width * 1.41;
      border-radius: 0.2rem;
    }
  }
}

.errorMessage {
  margin-top: $space-xl;
}

.noresult {
  margin-top: 2rem;
  color: $text-muted;
}

.nodisplay {
  display: none;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
