<nav [class.showing]="isShowing()">
  <ul>
    <li class="header-left">
      <div routerLink="/">
        <img src="logo.webp" />
        <h2>Manga Library</h2>
      </div>
      <img class="closeButton" src="/close-button.webp" />
    </li>

    <li class="header-middle">
      <p routerLink="/">Home</p>
      <p routerLink="/search">Search</p>
      <p routerLink="/library">Library</p>
    </li>

    <li class="header-right">
      @if (!accountService.isAuthenticated() || error()) {
        <div class="login">
          <p routerLink="/login">Login</p>
        </div>
        <div class="signup">
          <p routerLink="/register">Sign up</p>
        </div>
      } @else {
        <div class="profile">
          <div class="displayName" (click)="toggle()">
            @if (!loading()) {
              <p>{{ displayName() }}</p>
            } @else {
              <p>Loading...</p>
            }
            <img src="downarrow.png" />
          </div>

          @if (isOpen()) {
            <ul>
              <li>Profile</li>
              <li (click)="accountService.logout(); reload()">Logout</li>
            </ul>
          }
        </div>
      }
    </li>
  </ul>
</nav>
